

.header {
    background-color: var(--main-color);
}
.container-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}





.card {
    background-color: var(--secondary-color);
}

.card-link {
    text-decoration: none;
    color: var(--text-color-one);
}

.navbar-brand {
    color: var(--text-color-one);
}

.navbar-text {
    font-size: 17px;
}

.nav-link {
    color: var(--text-color-one);
}

.footer {
    width: 100%;
    background-color: #AA50DE;
    margin-top: 20%;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
}

.footer p {
    color: white;
}
.carrosel-principal{
    width: auto;
    height: auto;
}

